* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
    width: 100vw;
    /* background: linear-gradient(-45deg, #fae1d9, #ebffea, #e1f7ff, #d7fff6); */
    background-color: #434343;
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
    margin: 0;
    padding: 0;
}

.Sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    /* background-image: linear-gradient(to bottom, #b0fffe, #aefbff, #aef7ff, #aef2ff, #afeeff, #b2edff, #b6ebff, #b9eaff, #beecff, #c3edff, #c7efff, #ccf0ff); */
    /* background-image: linear-gradient(to bottom, #536767, #566b6c, #5a6e71, #5d7275, #61757a, #66797f, #6b7e84, #708289, #778890, #7d8f96, #84959d, #8b9ca4); */
    background-color: #0e0e0e;
    z-index: 1;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.SidebarList .row {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: rgb(222, 222, 222);
    justify-content: center;
    align-items: center;
}

.SidebarList .row:hover {
    cursor: pointer;
}

.Sidebar-nonactive {
    display: none;
}

.openbar-btn {
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0px 5px 10px 0px rgb(145, 145, 145);
}

.btnbar {
    width: 100vw;
    height: 40px;
    /* background-image: linear-gradient(to top, #c8eeff, #c4eaff, #c2e6ff, #c0e2ff, #c0ddff, #bdd9ff, #bbd6ff, #bad2ff, #b5cfff, #afcbff, #aac8ff, #a4c5ff); */
    background-color: #1c1c1c;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content:start;
    align-items:center;
    text-decoration: none;
    z-index: 1;
}

.btnbar:hover {
    color: white;
}

.btnbar #icon {
    margin-left: 10px;
    flex: 10px;
    display: grid;
    place-items: center;
}

.btnbar #title {
    flex: 90%;
}

.btnbar-nonactive {
    display: none;
}

.row {
    text-decoration: none;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
}

.closeBtnBar {
    width: 100%;
    height: 40px;
    top: 20px;
    text-decoration: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content:start;
    align-items:center;
}

.closeBtnBar:hover {
    color: white;
}

.closeBtnBar #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.closeBtnBar #title {
    flex: 70%;
}

.photoProfile {
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 50%;
    border: 4px solid #c64e4e;
}

.email {
    font-weight: bold;
    font-size: 13px;
    color: #d5d5d5;
    text-align: center;
}

.email a {
    color: rgb(255, 91, 91);
}

.email a:hover {
    color: rgb(255, 24, 24);
    font-weight: bolder;
}

footer {
    width: 200px;
    margin-left: 16px;
    font-size: 12px;
    position: fixed;
    color: rgb(202, 202, 202);
    bottom: 0;
}

.social-icons {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.icons {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.icons:hover {
    color: #af0e0e;
    cursor: pointer;
}

.noCopy, br {
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}